@page "/wallet"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrator, User")]
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@rendermode InteractiveServer
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager Navigation;
@implements IAsyncDisposable
@using Microsoft.Extensions.Options;
@inject TransactionService transactionService;
@inject DataFetcherService dataFetcherService;
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Diagnostics
@using WebApp.Models.ViewModels;


<PageTitle>IeCAG - Wallet</PageTitle>

<h3>Wallet</h3>

<div style="display:flex;">
    <PriceChart Name="Portfolio" pricesList="priceList" @ref="priceChart" Width="70vw" Height="30vh" TimeRangeChanged="OnTimeRangeChanged" />

    <DoughnutChart Name="DoughnutChart" DataList="dataList" @ref="doughnutChart" Width="30vw" Height="30vh" />
</div>





<hr />
<br />
<!-- Button trigger modal -->
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#transactionModal">
        Add Transaction
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="transactionModalLabel">Add Transaction</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <EditForm Model="@transaction" OnValidSubmit="AddTransaction" FormName="AddTransaction">
                <DataAnnotationsValidator />
                <div class="modal-body">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <button class="nav-link @(transactionType == "Buy" ? "active" : "")" aria-current="page" @onclick='(() => selectTransactionType("Buy"))'>Buy</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link @(transactionType == "Sell" ? "active" : "")" @onclick='(() => selectTransactionType("Sell"))'>Sell</button>
                        </li>
                    </ul>
                    
                    <div class="mt-4">
                        <label>Select Cryptocurrency</label>
                        <InputSelect @bind-Value="transaction.SelectedCryptocurrency" class="form-select mt-1" id="selectCryptocurrency">
                            <option value="" disabled selected>Select a cryptocurrency</option>
                            @foreach (var crypto in cryptocurrencies)
                            {
                                <option value="@crypto">@crypto</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="() => transaction.SelectedCryptocurrency" />
                    </div>
                    
                    <div class="mt-3">
                        <label>Amount</label>
                        <InputNumber @bind-Value="transaction.Amount" class="form-control mt-1" id="amount" oninput="calculatePricePaidAllOrAveragePrice()" />
                        <ValidationMessage For="() => transaction.Amount" />
                    </div>

                    <div class="mt-3 row">
                        <div class="col">
                            <label>Average Price</label>
                            <InputNumber @bind-Value="transaction.AveragePrice" class="form-control mt-1" id="averagePrice" oninput="calculatePricePaidAll()" />
                            <ValidationMessage For="() => transaction.AveragePrice" />
                        </div>

                        <div class="col">
                            <label>Price Paid All</label>
                            <InputNumber @bind-Value="transaction.PricePaidAll" class="form-control mt-1" id="pricePaidAll" oninput="calculateAveragePrice()" />
                            <ValidationMessage For="() => transaction.PricePaidAll" />
                        </div>
                    </div>

                    <div class="mt-3">
                        <label>Transaction Date</label>
                        <InputDate @bind-Value="transaction.TransactionDate" class="form-control mt-1" id="transactionDate" />
                        <ValidationMessage For="() => transaction.TransactionDate" />
                    </div>

                    <div class="mt-3 text-center">
                        <span class="text-danger">@errorMessage</span>
                    </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </EditForm>
        </div>
    </div>
</div>

<script>
    var lastInputField;

    function calculatePricePaidAllOrAveragePrice() {
        if (lastInputField == "pricePaidAll") {
            
            var averagePrice = parseFloat(document.getElementById("averagePrice").value);
            var amount = parseFloat(document.getElementById("amount").value);
            if (!isNaN(averagePrice) && !isNaN(amount)) {
                var pricePaidAll = averagePrice * amount;
                document.getElementById("pricePaidAll").value = pricePaidAll.toFixed(2);
                var event = new Event("change");
                document.getElementById("pricePaidAll").dispatchEvent(event);
            }
        }
        else {
            var pricePaidAll = parseFloat(document.getElementById("pricePaidAll").value);
            var amount = parseFloat(document.getElementById("amount").value);
            if (!isNaN(pricePaidAll) && !isNaN(amount)) {
                var averagePrice = pricePaidAll / amount;
                document.getElementById("averagePrice").value = averagePrice.toFixed(2);
                var event = new Event("change");
                document.getElementById("averagePrice").dispatchEvent(event);
            }
        }
    }

    function calculatePricePaidAll() {
        lastInputField = "pricePaidAll";
        var averagePrice = parseFloat(document.getElementById("averagePrice").value);
        var amount = parseFloat(document.getElementById("amount").value);
        if (!isNaN(averagePrice) && !isNaN(amount)) {
            var pricePaidAll = averagePrice * amount;
            document.getElementById("pricePaidAll").value = pricePaidAll.toFixed(2);
            var event = new Event("change");
            document.getElementById("pricePaidAll").dispatchEvent(event);
        }
        
    }

    function calculateAveragePrice() {
        lastInputField = "averagePrice";
        var pricePaidAll = parseFloat(document.getElementById("pricePaidAll").value);
        var amount = parseFloat(document.getElementById("amount").value);
        if (!isNaN(pricePaidAll) && !isNaN(amount)) {
            var averagePrice = pricePaidAll / amount;
            document.getElementById("averagePrice").value = averagePrice.toFixed(2);
            var event = new Event("change");
            document.getElementById("averagePrice").dispatchEvent(event);
        }
    }

    function closeModal(modalId) {
        const modalElement = document.querySelector(modalId);
        const modalInstance = bootstrap.Modal.getInstance(modalElement);
        if (modalInstance) {
            modalInstance.hide();
        }
    }

</script>

<div style="overflow-x: auto; overflow-y: hidden;">
    <table class="table">
        <thead>
            <tr>
                <th>Cryptocurrency</th>
                <th>Derzeitiger Price</th>
                <th>Durchschnittkaufpreis</th>
                <th>% value Change</th>
                <th>Anzahl von Cryptocurrency</th>
                <th>Gesamter Wert</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var walletEntry in walletEntries)
            {
                var averagePrice = walletEntry.AveragePrice;
                var priceChange = Math.Round(((walletEntry.CurrentPrice - averagePrice) / averagePrice) * 100, 2);
                <tr @onclick="(() => RedirectToCryptocurrency(walletEntry.Name))" style="cursor: pointer;" title="Klicken, um Details von @walletEntry.Name anzuzeigen">
                    <td>@walletEntry.Name</td>
                    <td>@walletEntry.CurrentPrice</td>
                    <td>@averagePrice</td>
                    <td>@priceChange %</td>
                    <td>@walletEntry.Amount</td>
                    <td>@Math.Round(walletEntry.Amount * walletEntry.CurrentPrice, 2)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    PriceChart priceChart;
    DoughnutChart doughnutChart;
    private string transactionType = "Buy";
    private string username;
    private string? errorMessage;
    private int lastSelecteddays = 180;

    [SupplyParameterFromForm]
    public TransactionModel transaction { get; set; } = new();

    private void selectTransactionType(string type)
    {
        transactionType = type;
    }

    private List<string> cryptocurrencies = new List<string> { "Bitcoin", "Ethereum", "Cronos" }; // Beispielhafte Liste


    public List<KeyValuePair<DateTime, double>> priceList { get; set; } = new List<KeyValuePair<DateTime, double>>();

    public List<KeyValuePair<string, double>> dataList { get; set; } = new List<KeyValuePair<string, double>>();

    private List<WalletEntry> walletEntries = new List<WalletEntry>();


    private HubConnection? hubConnection;


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        username = user.Identity?.Name;


        List<Transaction> allTransactionsOfUser = await transactionService.FetchAllTransactionsOfPerson(username);


        Stopwatch stopwatch = new Stopwatch();
        stopwatch.Start();
        await HelperClasses.FinanceCalculations.CalculatePortfolioValueForTheLastXDays(dataFetcherService, walletEntries, priceList, dataList, allTransactionsOfUser, lastSelecteddays);
        stopwatch.Stop();
        Console.WriteLine("Time elapsed: {0}", stopwatch.Elapsed.TotalMilliseconds);

        await priceChart.UpdateChart();
        await doughnutChart.UpdateChart();
        StateHasChanged();


        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/priceshub"))
            .Build();

        hubConnection.On<string, double>("ReceivePriceUpdate", async (name, price) =>
        {
            var existingEntry = walletEntries.FirstOrDefault(entry => entry.Name == name);
            if (existingEntry != null)
            {
                existingEntry.CurrentPrice = price; // Aktualisiere den Preis des vorhandenen Eintrags
                double allValue = walletEntries.Sum(entry => entry.Amount * entry.CurrentPrice);
                await priceChart.UpdateChart(DateTime.Now, allValue);
                await doughnutChart.UpdateChart(name, existingEntry.CurrentPrice * existingEntry.Amount);
            }
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }


    private void RedirectToCryptocurrency(string name)
    {
        Navigation.NavigateTo($"cryptocurrencies/{name}");
    }

    private async Task AddTransaction()
    {
        var walletEntry = walletEntries.FirstOrDefault(sp => sp.Name == transaction.SelectedCryptocurrency);
        if(walletEntry == null && transactionType == "Sell")
        {
            errorMessage = "You don't have any of this cryptocurrency to sell";
            return;
        }
        if(walletEntry != null && walletEntry.Amount < transaction.Amount && transactionType == "Sell")
        {
            errorMessage = "You don't have enough of this cryptocurrency to sell";
            return;
        }
        await transactionService.CreateTransactionAsync(username, transaction.SelectedCryptocurrency, transaction.Amount, transaction.PricePaidAll, transaction.TransactionDate, transactionType);

        
        await HelperClasses.FinanceCalculations.CalculatePortfolioValueForTheLastXDays(dataFetcherService, walletEntries, priceList, dataList, await transactionService.FetchAllTransactionsOfPerson(username), lastSelecteddays);
        

        await priceChart.UpdateChart();
        await doughnutChart.UpdateChart();


        // Schließen des Modals        
        await CloseModalAsync();

        transaction = new TransactionModel();

        // Aktualisieren der Ansicht
        StateHasChanged();
    }

    private async Task OnTimeRangeChanged(int days)
    {
        lastSelecteddays = days;
        await HelperClasses.FinanceCalculations.CalculatePortfolioValueForTheLastXDays(dataFetcherService, walletEntries, priceList, dataList, await transactionService.FetchAllTransactionsOfPerson(username), days);
        await priceChart.UpdateChart();
        StateHasChanged();
    }


    // JavaScript Interop zum Schließen des Modals
    [Inject]
    IJSRuntime JSRuntime { get; set; }

    private async Task CloseModalAsync()
    {
        await JSRuntime.InvokeVoidAsync("closeModal", "#transactionModal");
    }
}
